apiVersion: v1
kind: ServiceAccount
metadata:
  name: ingress-observer
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ingress-observer
rules:
  # Permissions to watch Ingress resources
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch
      - patch
      - update
  # Permissions to read TLS Secrets
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
  # Permissions to create events (for Kopf logging)
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: ingress-observer
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ingress-observer
subjects:
  - kind: ServiceAccount
    name: ingress-observer
    namespace: default

